.footer-background
    .wrapper
        .textFooter 
            h4 SOCAL MARKETING & ANALYTICS
            h3 Take control of your data
            p.button
                a(href="#") get started
            p.button 
                a(href="#") explore features 
.footer.wrapper
    .logo
        img(src="img/Logo_white.png", alt="logo") 
    .menu.footer-menu
        ul.main-menu 
            +menu(menu)
        p.button 
            a(href="#") get started
p &copy; 2017 Mass Impressions & Tranmautritam. Make the right impression.