.header-background 
    .wrapper.header-wrapper
        .arrow 
            a(href="#main") 
        .header
            .logo
                a(href="#")
                    img(src="img/Logo_color.png", alt="logo")
            .menu
                ul.main-menu
                    +menu(menu)
                p.button
                    a(href="#") get started
        .textHeader
            h4 SOCIAL MARKETING & ANALYTICS
            h1 Pricing Table
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.