.main#main
    .main-wrapper
        .textMain
            h4 MIsocial
            a(href="#") Select a Plan
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
        .box-cards   
            +card(cards.card1)
            +card(cards.card2)
            +card(cards.card3)
        ul.names 