.main#main
    .textMain
        p MIsocial
        p Select a Plan
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
    .box-cards   
        +card(cards.card1)
        +card(cards.card2)
        +card(cards.card3)
    ul.names 