- let menu = [{name: "Home", url: "#"}, {name:"Why MISOCIAL", url:"#"}, {name:"Features", url:"#"}, {name:"Articles", url:"#"}, {name:"Pricing",url:"#"}]
- 
    //- let names = [
    //-     {name: "Dima", url: "#"}, 
    //-     {name:"Vasil", url:"#"}, 
    //-     {name:"Sasha", url:"#"}
    //- ]
- 
    let cards = {
        card1: {
            src: "img/img_1.png", 
            alt: "Rocket",
            price: "0",
            description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, ullam. Dicta eius quia facilis repellendus?",
            href: "#"
        },
        card2: {
            src: "img/img_2.png", 
            alt: "Mars",
            price: "29",
            description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga saepe provident totam amet odio reiciendis unde vero optio doloribus autem.",
            href: "#"
        },
        card3: {
            src: "img/img_3.png", 
            alt: "Shattle",
            price: "49",
            description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit.",
            href: "#"
        }
    }