.footer-background
    background: linear-gradient(-60deg, rgba(135,211,205,0.8) 0%, rgba(109,69,225,0.8) 80%),url(../img/Map.png) no-repeat
    background-position: center
    background-blend-mode: darken
    .wrapper
        padding-top: 180px
        padding-bottom: 180px
        // padding: 180px
        @media screen and ( max-width: 480px )
            padding-top: 20px
            padding-bottom: 10px
            
.textFooter
    text-align: center
    color: #fff
    h4
        margin: 0
        padding-bottom: 20px
        position: relative
        display: inline-block
        &::before,
        &::after
            content: ""
            position: absolute
            width: 25px
            height: 1px
            top: 8px
            background-color: #fff
        &::before
            left: -40px
        &::after
            right: -40px
    h3
        padding-bottom: 20px
        margin: 0
        font-size: 60px
        letter-spacing: -2px
        color: #fff
        font-weight: 500
        @media screen and ( max-width: 480px )
            font-size: 30px
            
    .button
        +btn("grey", true)
        margin: 0 5px
        @media screen and ( max-width: 480px )
            margin-bottom: 10px
            
.footer
    +mainMenu
    padding-top: 50px
    padding-bottom: 30px
    border-bottom: 1px solid #f1f1f2
    .main-menu
        a
            font-size: 16px
            color: #6a6a77
            font-weight: 500
            &:hover
                color: #756edc
            &::before
                background-color: #756edc
.footer-menu
    .button
        +btn("grey",false)
.footer-social
    margin: 0
    padding-top: 30px
    padding-bottom: 25px
    display: flex
    justify-content: space-between
    font-size: 14px
    color: #6a6a77
    font-weight: 500
    @media screen and ( max-width: 480px )
        flex-wrap: wrap
        flex-direction: column-reverse
        p
            display: block
            text-align: center
        
.social
    padding-top: 15px
    @media screen and ( max-width: 480px )
        text-align: center
        
    ul
        margin: 0
        padding: 0
        li
            padding-left: 10px
            display: inline
            @media screen and ( max-width: 480px )
                padding: 0 10px

.icon
    width: 20px
    height: 16px
    color: #b4b4bb
    transform: scale(1)
        
    &:hover
        transform: scale(2)
        transform-origin: bottom
        color: #756edc
        

       