.footer-background
    background: linear-gradient(-60deg, rgba(135,211,205,0.8) 0%, rgba(109,69,225,0.8) 80%),url(../img/Map.png) no-repeat
    background-position: center
    background-blend-mode: darken
    .wrapper
        padding: 180px
.textFooter
    text-align: center
    color: #fff
    h4
        margin: 0
        padding-bottom: 20px
        position: relative
        display: inline-block
        &::before,
        &::after
            content: ""
            position: absolute
            width: 25px
            height: 1px
            top: 8px
            background-color: #fff
        &::before
            left: -40px
        &::after
            right: -40px
    h3
        padding-bottom: 20px
        margin: 0
        font-size: 60px
        letter-spacing: -2px
        color: #fff
        font-weight: 500
    .button
        +btn("grey", true)
        margin: 0 5px
    //     margin: 18px 5px
    //     display: inline
    // a
    //     padding: 18px 32px
    //     display: inline-block
    //     width: 8.5%
    //     text-decoration: none
    //     color: #c2c9db
    //     background-color: #fff
    //     transition: background-color 0.5s ease, border-color 1s ease
    //     &:hover
    //         color: #fff
    //         background-color: #6e45e2
.footer
    +mainMenu
    padding-top: 50px
    padding-bottom: 30px
    border-bottom: 1px solid #f1f1f2
    .main-menu
        a
            font-size: 16px
            color: #6a6a77
            font-weight: 500
            &:hover
                color: #756edc
            &::before
                background-color: #756edc
.footer-menu
    .button
        +btn("grey",false)
.footer-social
    margin: 0
    padding-top: 30px
    padding-bottom: 25px

       