
.header-background
    background: linear-gradient(-60deg, rgba(135,211,205,0.8) 0%, rgba(109,69,225,0.8) 100%),url(../img/header_background.jpg)
    background-position: center
    // background-blend-mode: lighten
    background-size: cover
.wrapper
    padding: 0 50px
.header-wrapper
    padding-top: 65px
    padding-bottom: 290px
    position: relative
    @media screen and ( max-width: 480px )
        padding-bottom: 120px
        
.arrow
    a
        position: absolute 
        width: 65px
        height: 65px
        bottom: 50px
        left: 50%
        border-radius: 50%
        background: #fff
        transform: translate(-50%)
        transition: background 0.8s ease
        &::before
            content: ""
            position: absolute
            width: 100%
            height: 100%
            background: url(../img/arrow.png) no-repeat center
        &:hover
            background: #6e45e2
.header
    padding-bottom: 180px
    @media screen and ( max-width: 480px )
        padding-bottom: 30px
        
    +mainMenu
.menu
    display: flex
    @media screen and ( max-width: 480px )
        flex-direction: column
        
.main-menu
    padding: 0
    list-style: none
    li
        display: inline-block
        @media screen and ( max-width: 480px )
            display: block
            text-align: center
            padding-bottom: 15px
            
    a
        padding: 0 30px
        position: relative
        font-size: 16px
        line-height: 19px
        font-weight: 500
        font-family: "Maven Pro"
        &::before
            content: ""
            position: absolute
            width: 100%
            height: 2px
            bottom: -15px
            left: 0
            transition: transform 1s ease
            transform: scaleX(0)
            @media screen and ( max-width: 480px )
                bottom: -5px
                
        &:hover:before
            transform: scaleX(1)
            margin: 0
            
        
.header-menu
    a
        color: #fff
        &::before
            background-color: #fff
    .button
        +btn("white", false)
        

.textHeader
    text-align: center
    color: #fff
    p
        display: inline-block
        max-width: 385px
        font-size: 16px
        line-height: 28px
    
    h4
        position: relative
        display: inline-block
        font-size: 14px
        letter-spacing: 1px
        color: #fff
        font-weight: 700
        &::before,
        &::after
            content: ""
            position: absolute
            width: 25px
            height: 1px
            top: 8px
            background-color: #fff
        &::before
            left: -40px
        &::after
            right: -40px
    h1
        margin: 0
        font-size: 86px
        letter-spacing: -3px
        color: #fff
        font-weight: 500
        
        
            