= boxCard
    .card
        margin: 0
        margin-right: 25px
        margin-left: 25px
        padding-top: 65px
        padding-bottom: 65px
        width: 440px
        border: 1px solid #dadeea
        border-radius: 30px
        &:hover
            box-shadow: 0 0 65px rgba(204,204,223,0.71)
    img
        margin: 0 auto
        display: block
    .personal
        margin: 0
        padding-top: 60px
        padding-bottom: 25px
        font-size: 14px
        letter-spacing: 1px
        color: #9fa4af
        font-weight: 700
        text-transform: uppercase
    .price
        margin: 0 auto
        max-width: 250px
        position: relative
        font-size: 50px
        letter-spacing: -2px
        color: #4f4f6f
        font-weight: 500
        &::before
            content: ""
            position: absolute
            width: 8px
            height: 15px
            top: 0
            left: 7px
            background: url(../img/baks.png) no-repeat center
    .button
        margin: 0
    a
        padding: 18px 27px
        border: 1px solid #d6dbe8
        border-radius: 25px
        font-size: 12px
        letter-spacing: 1px
        color: #c2c9db
        font-weight: 700
        text-transform: uppercase
        text-decoration: none
        transition: background-color 0.5s ease, border-color 1s ease
        box-shadow: 0 0 46px rgba(204,204,223,0.71)
        &:hover
            border-color: #6e45e2
            background-color: #6e45e2
            color: #fff
            box-shadow: none
    p
        font-size: 16px
        line-height: 28px
        color: #9fa4af
        font-weight: 400
        text-align: center
    .description
        margin: 0 auto
        padding-top: 50px
        width: 300px
        height: 190px
        font-size: 16px
        line-height: 28px
        color: #9fa4af
        font-weight: 400 



    